* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

svg {
	display: block; 
	width: 80%; 
	margin: 0 auto;
}

.clearfix {
  overflow: auto;
}

.education-entry,
.work-entry {
 	padding-left: 8%;
  	padding-right: 10%;
}

#workExperience,
#education,
#mapDiv {
   background-color: #346F7E;
	
}

#header,
#chart,
#main,
#projects {
	background-color: #4896AA;
}

hr {
	margin-top: 0;
	border-top: 2px solid #BD3613;
}	

h1 {
	font-size: 60px;
	color: #BD3613;
	line-height: 48px;
	display: inline;
	font-weight: 100;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #0A2933;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color:  #BEB9B9;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, 
h3, 
h4, 
h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}

.date-text {
	font-style: italic;
	font-size: 14px;
	color: #BEB9B9;
	line-height: 16px;
	float: left;
}

.location-text {
	font-style: italic;
	font-size: 14px;
	color: #BEB9B9;
	line-height: 16px;
	float: right;
}

p {
  font-size: 14px;
  color: #0A2933;
  line-height: 21px;
}

a {
	color: #BAEBFA;
	margin-top: 10px;
	display: block;
	text-decoration: none;
}

a:hover {
	color: #0A2933;
	text-decoration: none;
	}

.welcome-message {
	font-style: italic;
	font-size: 18px;
	color: #BEB9B9;
	line-height: 30px;
    display: block;
}

#skillsH3 {
	color: #BD3613;
	display: none;
}

.orange-text {
  color: #BD3613;
}

.white-text {
	font-weight: bold;
	color: #BEB9B9;
	text-indent: 10px;
}

.gray {
  background-color: #346F7E;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4A4A4A;
}

/* TODO: Replace with image later */
#header {
	background-color: #4896AA;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
	padding-top: 2.5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2.5%
}

ul {
  list-style-type: none;
}

.biopic {
	float: right;
	width: 140px;
	display: none;
	border-radius: 40px;
}

img {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.project-entry img {
	display: inline-block;
  	padding-bottom: 20px;
	padding-right:20px; 
}

.project-entry {
	padding-left: 50px;
	padding-right: 20px;
}

.name-internationalizer {
	color:  #BD3613;
	height: 40px;
	width: 150px;
	border-radius: 10px;
	background-color: #BAEBFA;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
	padding: 5px;
	color: #0A2933;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
	width: 175px;
	right: 50%;
}

#map {
  display: block;
  height: 400px;
  margin-left: 5%;
  margin-right: 5%;
}

  #mapDiv {
	height: 400px;
	width: 100%;
	
}
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
	width: 150px;
	float: right;
  }
  .welcome-message {
	display: none;
	margin-top: 15%;
	text-align: left;
  }
 
 #map {
  display: block;
  height: 400px;
  margin-left: 5%;
  margin-right: 5%;
}

  #mapDiv {
	height: 400px;
	width: 100%;
	
}
}

@media only screen and (min-width: 320px) {
#map {
  display: block;
  height: 315px;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
	height: 400px;
	width: 100%;
	padding-bottom: 20%;
}

svg {
	display: block;
	width: 100%;
}
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
}
}
	

